---
import { cn, sluglify } from '@/utils'

const { name = 'All', activeCategory } = Astro.props
const currentPath = Astro.url.pathname
const unsluglifyNameCategory = sluglify(name.toLowerCase())

const isActive =
	activeCategory?.toLocaleLowerCase() === unsluglifyNameCategory ||
	(currentPath === '/blog' && name === 'All') ||
	(currentPath === '/blog/' && name === 'All')
---

<a
	href={name === 'All' ? '/blog' : sluglify(`/category/${unsluglifyNameCategory}/1`)}
	class={cn(
		`px-4 py-2 rounded-lg text-sm font-medium first-letter:uppercase transition-all duration-200`,
		isActive ? `bg-orange-600 text-white` : `text-slate-400 hover:text-white hover:bg-slate-800`
	)}
>
	{name}
</a>
