---
import ArrowLeft from './icons/ArrowLeft.astro'
import ArrowRight from './icons/ArrowRight.astro'

const { page } = Astro.props
---

<div class='flex gap-5 md:gap-1 justify-around md:justify-end'>
	<!-- Previous Button -->
	{
		page.start > 0 && (
			<a
				href={page.url.prev}
				class='flex items-center justify-center px-8 md:px-4 h-10 text-base font-medium bg-slate-900 border border-slate-700 text-slate-300 rounded-lg hover:border-orange-500/40 hover:text-orange-400 transition-colors'
			>
				<ArrowLeft />
			</a>
		)
	}

	<!-- Next Button -->

	{
		page.currentPage < page.lastPage && (
			<a
				href={page.url.next}
				class='flex items-center justify-center px-8 md:px-4 h-10 ml-3 text-base font-medium bg-slate-900 border border-slate-700 text-slate-300 rounded-lg hover:border-orange-500/40 hover:text-orange-400 transition-colors'
			>
				<ArrowRight />
			</a>
		)
	}
</div>
